.main-header{
    width: 100%;
    background: #303030;  
    color:#FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height:60px;
    margin:0;
    display:flex;

}

.small-logo{
    margin-left:47px;
    margin-top:5px;
    
}
.profile{
    display:flex;
    margin-right:auto;;
}

.profile-img{
    margin-top:19px;
    margin-left: 47px;
}

.profile-p{
    color: white;
    text-decoration: none;
    margin-left:20px;
    margin-top:22px;
}

.profile-p:hover{
    text-decoration: none;
    color: #db7107;
}

.exit{
    display:flex;
    margin-right:27px;
}

.exit-img{
    margin-top:22px;
    margin-right: 18px;
}

.exit-p{
    margin-top:22px;
}
