.command-info-person-head{
    display: flex;
    margin-left:70px;
    color: #F57C00;
    border-bottom: solid rgba(0, 0, 0, 0.5) thin;
    height:58px;
    align-items: center;
    margin-bottom:26px;
}

.team-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom:100px;
    width: 1024px;
}

.photo{
    width:60px;
}

.text{
    align-items: center;
    text-align: center;
}


.fio, .contacts, .education, .link{
    width:155px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
}

.table{
    font-size: 14px;
    width:337px;
}

.command-info-person{
    display:flex;
    margin-left:70px;
    height:110px;
    margin-bottom:46px;
 }


.detailed-report-a{
    text-decoration:none;
    color: inherit;
    color: #F57C00; 
}

.detailed-report-a:hover{
    color: #ad5600
}

.detailed-report-a:visited{
    color: #8e290a
}
.detailed-report-a:visited:hover{
    color: #ec630e
}