body{
    background: #F5F5F5;
    font-family: "Roboto";
    color: #000000;
    font-size: 16px;
    line-height:18px;

    margin:0;
}


.main-header{
    background: #303030;  
    color:#FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height:60px;

    display:flex;

}
.small-logo{
    margin-left:47px;
    margin-top:5px;
    
}
.profile{
    display:flex;
    margin-right:65px;;
}

.profile img{
    margin-top:19px;
    margin-left: 47px;
}

.profile p{
    margin-left:20px;
    margin-top:22px;
}


.my-teams{
    display:flex;
    margin-right:auto;
}
.my-teams img{
    margin-top:21.5px;
    margin-right: 24px;
}
.my-teams p{
    margin-top:22px;
}
.exit{
    display:flex;
    margin-right:27px;
}

.exit img{
    margin-top:22px;
    margin-right: 18px;
}

.exit p{
    margin-top:22px;
}






main{
    display:flex;
}
.reports{
    width:925px;
    margin-top:51px;
    margin-left:184px;
}
h1{
    font-weight: 500;
font-size: 28px;
line-height: 18px;
display:block;
margin:0;
text-align: center;
margin-bottom:60px;
}
.project-data-item{
    margin-bottom:42px;
}
.pro-info{
    font-size: 16px;
line-height: 18px;
margin-left:26px;
margin-bottom:26px;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
.to-command{
    width: 122px;
height: 26px;
background: rgba(245, 124, 0, 0.1);
border:none;
border-radius: 10px;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #F57C00;
margin-right:33px;
}

.to-command-chat{
    width: 210px;
    height: 26px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border:none;
    font-size: 14px;
    line-height: 18px;
}
.buttons{
    margin-bottom:9px;
}
.table-info{
    border:solid black thin;
    margin-bottom:26px;
}
.people-command-item{
    display:flex;
    margin-bottom:-7px;
}
.to-stages{
    width: 90px;
    height: 26px;
    border:none;
    background: rgba(245, 124, 0, 0.1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #F57C00;
    display:block;
    margin:0 auto;

}
.photo{
    display:block;
    margin-left:12px;
    margin-top:11px;
}
.photo img{
    border-radius: 80px;
}
.fio{
    width:250px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-top:22px;
}
.forms{
    margin:0 35px;
    margin-top:26px;
    font-size: 14px;
    line-height: 18px;
}
.detailed-report{
     margin-top:27px;
     margin-left:20px;
     margin-right:18px;
}
.detailed-report a{
    text-decoration:none;
    color: inherit;
    color: #F57C00; 
}
table{
    width:337px;
    border: 0.1px solid black;
    padding:0;
    margin:0;
    font-size: 10px;
    line-height: 6px;
    margin-top:22px;  
}
th{
    background: #F9EFE5;
    padding:0;
    margin:0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height:24px;
    font-style: normal;
    font-weight: 400;
    padding-left:6px;
    padding-right:6px;
}
td{
    margin:0;
    padding:0;
    border-right: 1px solid black;
    height:16px;
    text-align: center;
}
td:last-child{
    border-right:none
}
th:last-child{
    border-right:none
}
.stages-info{
    text-align:center;
    margin-top:22px;
}
.stages-info p{
    margin:0;
    margin-bottom:5px;
}
.hidden{
    display:none;
}








.navigation{
    width:224px;
    margin-left:auto;
    margin-top:60px;
    font-size: 22px;
    line-height: 18px; 
}

.navigation h2{
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top:29px;
    padding-left:16px;
    font-weight: 400;
    
}


.name-role{
    height:45px;
    background: #FFF7EE;
    color: #F57C00;
    font-size: 22px;
    line-height: 30px;

    align-items: center;
    text-align: center;
}
.name-role-value{
    height:170px;
    text-align: center;
    padding-top:30px;
}

.intern{
    font-weight: 900;
}

.curator{
    font-weight: 900;
}

.roles ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    padding-bottom:100px;

}
.roles li p{
    text-align: center;
    margin-bottom:3px;
}