body{
    background: #F5F5F5;
    font-family: "Roboto";
    color: #000000;
    font-size: 16px;
    line-height:18px;

    margin:0;
}


.main-header{
    background: #303030;  
    color:#FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height:60px;

    display:flex;

}
.small-logo{
    margin-left:47px;
    margin-top:5px;
    
}
.profile{
    display:flex;
    margin-right:65px;;
}

.profile img{
    margin-top:19px;
    margin-left: 47px;
}

.profile p{
    margin-left:20px;
    margin-top:22px;
}


.my-teams{
    display:flex;
    margin-right:auto;
}
.my-teams img{
    margin-top:21.5px;
    margin-right: 24px;
}
.my-teams p{
    margin-top:22px;
}
.exit{
    display:flex;
    margin-right:27px;
}

.exit img{
    margin-top:22px;
    margin-right: 18px;
}

.exit p{
    margin-top:22px;
}






main{
    display:flex;
}

.team{
    width:1230px;
    margin-left: 47px;
    margin-left:0px;
    margin-top:60px;
}

.team-info{
    text-align: center;
}
 .team-info h2{
    margin-bottom:33px;
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;
 }

 .team-info p{
    margin-bottom:12px;
    line-height: 18px;
 }
 .team-info p:last-child{
    margin-bottom:49px;
 }




 .photo{
    width:60px;
}
.text{
    align-items: center;
    text-align: center;
}
.table{
    width:337px;
}
.fio, .contacts, .education{
    width:200px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
}
.forms{
    width:169px;
    text-align: center;
    align-items: center;
}

 .command-info-person{
    display:flex;
    margin-left:70px;
    height:110px;
    margin-bottom:46px;
 }
 .command-info-person-head{
    display: flex;
    margin-left:70px;
    color: #F57C00;
    border-bottom: solid rgba(0, 0, 0, 0.5) thin;
    height:58px;
    align-items: center;
    margin-bottom:26px;
}
.command-info-person-head .text{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}



 .team ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom:100px;
}
.command-info{
    display:block;
    margin:0 auto;
}


.command-info img{
    border-radius: 80px;
}
.give-a-mark{
    background: #F57C00;
    border-radius: 30px;
    width: 242px;
    height: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border:none;
    margin-left:317px;
}

.team-numbers{
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    margin-left:408px;
}
.buttons{
    display:flex;
}
.get-stages{
    background:#F57C00; 
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    width: 242px;
    height: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left:147px;
}

table{
    width:337px;
    border: 0.1px solid black;
    padding:0;
    margin:0;
    font-size: 10px;
    line-height: 6px;
   
}
th{
    background: #F9EFE5;
    padding:0;
    margin:0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height:24px;
    font-style: normal;
    font-weight: 400;
    padding-left:6px;
    padding-right:6px;
}
td{
    margin:0;
    padding:0;
    border-right: 1px solid black;
    height:16px;
    text-align: center;
}
td:last-child{
    border-right:none
}
th:last-child{
    border-right:none
}










.navigation{
    width:224px;
    margin-left:auto;
    margin-top:60px;
    font-size: 22px;
    line-height: 18px; 
}

.navigation h2{
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top:29px;
    padding-left:16px;
    font-weight: 400;
    
}


.name-role{
    height:45px;
    background: #FFF7EE;
    color: #F57C00;
    font-size: 22px;
    line-height: 30px;

    align-items: center;
    text-align: center;
}
.name-role-value{
    height:170px;
    text-align: center;
    padding-top:30px;
}

.intern{
    font-weight: 900;
}

.curator{
    font-weight: 900;
}

.roles ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    padding-bottom:100px;

}
.roles li p{
    text-align: center;
    margin-bottom:3px;
}