<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Welcome student</title>
</head>
<body>
    <header class="main-header">
        <nav class="header-navigation">
            <img src="{% static 'images/placeholder.svg' %}" width="20" height="20" alt="Логотип">
            <p><a href="#">Уральский центр стажировок</a></p>
        </nav>
    </header>
    <main>
        <img src="{% static 'images/placeholder.svg' %}" alt="Логотип">
        <h1>Добро пожаловать в личный кабинет, стажёр!</h1>
        <p>Личный кабинет uralintern.ru - средство учёта и контроля, позволяющее отслеживать и оценивать вклад каждого участника в командный проект, выполняемый во время прохождения стажировки.</p>
        <button>Перейти к использованию</button>
    </main>
    <footer class="main-footer">
        <p> © <a href='#'> Уральский центр стажировок, 2022</a></p>
        <p>По вопросам можно обращаться сюда:</p>
        <a href='#'><img src="{% static 'images/placeholder.svg' %}" width="20" height="20" alt="Vk"></a>
    </footer>
</body>
</html>